.buttons{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    margin: 5vh;
    width: fit-content;
    width: min(800px, 90%);
}

.buttons > a {
    -webkit-text-size-adjust: 100%;
    padding: 1vh 1vh 1vh 1vh;
    max-width: 200px;
    border-radius: 11px;
    opacity: 100%;
    font-size: 15px;
    letter-spacing: 4px;
    font-family: "Open Sans",sans-serif;
    vertical-align: middle;
    font-weight: 900;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a.red {
    border: 1px solid red;
    background-color: rgba(255, 0, 0, .35);
    color: aliceblue;
}

a.blue {
    border: 1px solid rgba(159, 139, 255, 0.957);
    background-color: rgba(0, 38, 255, 0.35);
    color: aliceblue;
}

a.yellow {
    border: 1px solid rgba(227, 242, 96, 1);
    background-color: rgba(255, 234, 0, 0.35);
    color: aliceblue;
}

a.green {
    border: 1px solid rgb(96, 242, 125);
    background-color: rgba(34, 255, 0, 0.35);
    color: aliceblue;
}

