.experience-item {
  width: min(600px, 100%);
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.experience-item ul {
    padding-left: 0.2%;  
    text-align: center;
    align-items: center;
}


.experience-item ol {
  display: flex;
  flex-direction: column;
  padding-left: 5%;  
  text-align: left;
  align-items: flex-start;
}

.experience-item > img {
  max-width: 160px;
  border-color: black;
  border-width: 3px;
  border-radius: 10px;
  border-style: solid;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 4px;
  padding-bottom: 4px;
  
}

.experience-item li.title {
    font-family: Arial, serif;
    line-height: 115%;
    font-size: 25px;
    font-weight: 700;
    width: min(400px, 80vw);
}
  
.experience-item li.daterange {
    line-height: 115%;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
.experience-item li.organization {
    line-height: 115%;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

.experience-item body {
    font-family: Arial, serif;
    line-height: 110%;
    font-size: 14px;
    font-weight: 600;
    padding: 0px;
}

.experience-item p {
    font-family: Arial, serif;
    font-size: 17px;
    line-height: 155%;
    word-spacing: 0%;
    font-weight: 200;
}
.experience-item div {
  padding-left: 4px;
    padding-right: 4px;
}

.experience-item li p {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 150%;
}

.experience-item li p a img{
transform: translateY(3px);
}

.body > div > p{
  margin-top: 0px;
}

.experience-item p.achievements{
  font-size: 18px;
  margin: 0px;
  padding:  0px;
}

.badge-row {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding-top: 15px;
  justify-content: space-evenly;
}

.social-media {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 10px;
}
.social-media .text {
    font-family: Arial, serif;
    font-weight: 700;
    font-size: 18pt;
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: aliceblue;
    text-align: center;
    margin: auto;
}
.social-media div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 10px;
}

.hero {
    font-size: 20pt;
    width: 80%;
    display: flex;    
    row-gap: 10px;
    column-gap: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
  }
.hero svg {
    color: black;
}
.hero > img {
    width: min(220px, 60vw); 
    border-radius: 50%;
}
.hero > div {
    border-radius: 10pt;
    text-align: center;
    background-color: azure;
    opacity: 0.8;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.hero .social {
    color: aliceblue;
    margin-top: 10px;
}

.contact {
    display: flex;
    flex-direction: row;
}

.nav-bar {
    /* as an item */
    width: 100%;
  
    background: linear-gradient(45deg, red, black);
    
    /* as a container */
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    z-index: 1000;
  }
  .nav-bar .name-container {
    /* as an item */
    order: 1;
    flex: 1 0 auto;
    
    /* as a container */
    display: flex;
    justify-content: center;
  }
  .nav-bar .name-container .my-name{
    display: block;
    font: small-caps bold 17px/2 sans-serif;
    font-size: 2em;
    text-emphasis: none;
    text-decoration: none;
    color: white;
  }
  .nav-bar .buttons-container {
    /* as an item */
    order: 2;
    flex: 3 3 auto;
    list-style: none;
    margin: 0;
    padding: 0;
    
    /* as a container */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
  .nav-bar .buttons-container * {
    box-sizing: border-box;
  }
  .nav-bar .buttons-container a {
    text-decoration: none;
    display: block;
  position: relative;
  padding: 0.2em 0;
  }
  .nav-bar .buttons-container a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: white;
    opacity: 0;
    transition: opacity 150ms, transform 150ms;
  }
  .nav-bar a:hover::after, .nav-bar a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.1em, 0);
  }
  .nav-bar .buttons-container a {
    background-color: transparent;
    border: none;
    font-variant: small-caps;
    font-size: larger;
    color: white;
  }
  
  
  .page-body {
    display: flex;
    flex-direction: column;
    width: min(800px, 90%);
    border-radius: 25px;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;
    background-color: azure;
    opacity: 0.8;
    row-gap: 15px;
}
  
  footer {
    position: relative;
    bottom: 0px;
    width: 100vw;
    height: max(4vh, auto); 
    margin-top: 20vh;
    background: grey;
    padding-top: 15px;
    padding-bottom: 40px;
  }
  footer .footer-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    justify-items: center;
  
    row-gap: 10px;
    align-content: center;
    align-items: center;
    width: min(1000px, 95%);
    
    margin-left: auto;
    margin-right: auto;
  }
  footer .pheader {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1000;
    margin: -100%;
  }
  footer .site-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: fit-content;
  }
  footer .site-info p {
    margin-block: 5px;
    width: 210px;
    color: darkgrey;
    line-height: 100%;
    font-size: 15px;
  }
  footer .site-info a {
    margin-block: 5px;
    width: 210px;
    color: white;
    line-height: 100%;
    font-size: 15px;
    text-decoration: none;
  }
  footer .site-info a:hover {
    margin-block: 5px;
    width: 210px;
    color: white;
    line-height: 100%;
    font-size: 15px;
    text-decoration: underline;
  }
  footer .footer-container .social-media {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  footer .footer-container .social-media p {
    font-size: 16pt;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 100%;
    color: white;
  }
  .keywords {
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 10%;
    margin-top: 25pt;
    margin-bottom: 25pt;
}
.keywords > * {
    font-size: 15pt;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.contact-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:  space-around;
  align-content: space-around;
}