


.social-media {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 10px;
}
.social-media .text {
    font-family: Arial, serif;
    font-weight: 700;
    font-size: 18pt;
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: aliceblue;
    text-align: center;
    margin: auto;
}
.social-media div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 10px;
}

.hero {
    font-size: 20pt;
    width: 80%;
    display: flex;    
    row-gap: 10px;
    column-gap: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
  }
.hero svg {
    color: black;
}
.hero > img {
    width: min(220px, 60vw); 
    width: min(220px, 60vw); 
    border-radius: 50%;
}
.hero > div {
    padding: 5pt 10pt 5pt 10pt;
    background-color: azure;
    opacity: 0.8;
    border-radius: 10pt;
    text-align: center;
}
.hero .social {
    padding: 15pt 10pt 5pt 10pt;
}