#foot {
    position: relative;
    bottom: 0px;
    width: 100%;
    height: max(4vh, auto); 
    background: grey;
    margin-top: 40px;
    padding-top: 15px;
    padding-bottom: 40px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    justify-items: center;

    row-gap: 10px;
    align-content: center;
    align-items: center;
    width: min(1000px, 95%);
    
    margin-left: auto;
    margin-right: auto;
}


.site-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: fit-content;
}

.site-info p {
    margin-block: 5px;
    width: 210px;
    color: white;
    line-height: 100%;
    font-size: 15px;
}

.social-media {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.social-media p {
    font-size: 16pt;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 100%;
    color: white;
}

svg {
    margin: 0px 20px 0px 20px;
    height: 35px;
    color: white;
}