#nav {
    /* as an item */
    top: 0;
    width: 100%;
    position:fixed;
    background: linear-gradient(45deg, red, black);
    
    /* as a container */
    padding: 5px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    z-index: 1000;
  }

.name-container {
    /* as an item */
    order: 1;
    flex: 1 0 auto;
    
    /* as a container */
    display: flex;
    justify-content: center;
  }
.name-container .my-name{
    display: block;
    font: small-caps bold 17px/2 sans-serif;
    font-size: 2em;
    text-emphasis: none;
    text-decoration: none;
    color: white;
}


.buttons-container {
    /* as an item */
    order: 2;
    flex: 3 3 auto;
    list-style: none;
    margin: 0;
    padding: 0;
    
    /* as a container */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.buttons-container * {
    box-sizing: border-box;
}
.buttons-container a {
    text-decoration: none;
    display: block;
	position: relative;
	padding: 0.2em 0;
  }
  
.buttons-container a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: white;
    opacity: 0;
    transition: opacity 150ms, transform 150ms;
  }
a:hover::after,
a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.1em, 0);
}

.buttons-container a {
    background-color: transparent;
    border: none;
    font-variant: small-caps;
    font-size: larger;
    color: white;
}