.body {
  width: min(800px, 100vw);
  margin-left: auto;
  margin-right: auto;
  outline-style: 1px solid black;
  font: 1em "Fira Sans", sans-serif;
  justify-content: left;
}

.h1 {
  width: min(800px, 100vw);
  margin-left: auto;
  margin-right: auto;
  outline-style: 1px solid black;
  font: 1em "Fira Sans", sans-serif;
  justify-content: left;
}


.Home-link {
  color: #61dafb;
}

.middle {
  text-align: center;
}

.just>* {
  text-align: justify;
  text-justify: inter-word;
}

h2 {
  padding-top: 20pt;
}