body {
  margin-left: 0;
  margin-right: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* TODO: Implement conditional styling for smaller width screens*/
div#root {
  height: 100%;
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: flex-start;
  gap: 50px;
}


#nav {
  position:fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(45deg, red, black);
  
  /* Flex settings */
  display: flex;
  align-items: center; /* horizontal alignment */
  z-index: 1000;
}
#nav > * {
  flex: 1;
}
.my-name {
  display: flex;
  justify-content: center;
  margin-right: auto;
  width: auto;
  height: auto;
  margin-left: max(3%);
  font: italic bold 17px/2;
  font-variant: small-caps;
}
#nav .buttons-container {
  height: auto;
  margin-left: auto;
  margin-right: 3%;
  /* Flex settings*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#nav .button {
  font: italic 700 16px/2;
  font-variant: small-caps;
  font-size: larger;
  text-align: center;
  padding: 10pt;
}
.buttons-container:last-child > * {
  margin-left: auto;
  margin-right: 3%;
}


/* Link Styling */
#nav a {
  text-emphasis: none;
  text-decoration: none;
  color: white;
}
.buttons-container a:hover,
.buttons-container a:focus {
  text-decoration: underline;
}


#body {
  width: min(1000px, 95%);
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

#me {
  height: max(300px, 15vw);
  float: right;
  padding-left: 40px;
  transform: translateY(10px);
  padding-bottom: 20px;
  z-index: 0;
}

#me>img {
  height: 100%;
  border-radius: 10%;
}


.keywords {
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 10%;
    margin-top: 25pt;
    margin-bottom: 80pt;
}
.keywords > * {
    font-size: 15pt;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.break {
    flex-basis: 100%;
    height: 0;
  }

h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
  margin-left: 0.5%;
}
h4 {
  font-size: 20px;
  margin-left: 1%;

}

p {
  padding-left: 2%;
  font-family: Arial, serif;
  line-height: 155%;
  font-size: 18px;
  letter-spacing: 1.7px;
  color: #000000;
  text-align: justify;
}

b {
  font-family: Georgia, serif;
  color: #000000;
  font-weight: 700;
}

#body a:link,
#body a:visited {
  text-emphasis: none;
  text-decoration: none;
  font-style: bold;
  color: #0808de;
}

#body a:hover {
  color: #0808de;
  text-decoration: underline;
}

.contact-button {
  -webkit-text-size-adjust: 100%;
  background-color: transparent;
  margin-top: 5vh;
  position: relative;
  width: 100%;
  display: block;
  text-align: center;
  max-width: 200px;
  height: 45px;
  line-height: 45px;
}

span.bg {
  -webkit-text-size-adjust: 100%;
  color: red;
  font-size: 14px;
  letter-spacing: 4px;
  font-family: "Open Sans",sans-serif;
  text-align: center;
  line-height: 45px;
  box-sizing: border-box;
  position: absolute;
  background: red;
  width: 0;
  height: 100%;
  z-index: 3;
  transition: 0.3s ease-out all;
  transform: skewX(-10deg);
}

.contact-button span.base{
  -webkit-text-size-adjust: 100%;
  color: red;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  border: 1px solid red;
}

.contact-button span.text{
  -webkit-text-size-adjust: 100%;
  color: red;
  font-size: 14px;
  letter-spacing: 4px;
  font-family: "Open Sans",sans-serif;
  text-align: center;
  line-height: 45px;
  box-sizing: border-box;
  z-index: 4;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}


